{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="account row">
    <div class="span12">
    <h2>Thank you!</h2>
    {% if user.get_profile.signed %}
        <p class="lead">Thank you {{ user.get_full_name }} for signing the pledge. We appreciate you showing your support and getting loud.</p>
        <ul class="social unstyled">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://letsgetlouder.com/" data-text="Let's get louder and pledge that we will no longer attend conferences/events without a code of conduct." data-size="large" data-related="_LetsGetLouder" data-hashtags="letsgetlouder">Tweet</a></li>
            <li><div class="fb-like" data-href="http://letsgetlouder.com/" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true" data-action="recommend"></div></li>
            <li><div class="g-plus" data-action="share" data-height="24" data-href="http://letsgetlouder.com/"></div></li>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </ul>
    {% else %}
        <p class="lead">
            You have not signed the pledge.
            <form action="{% url 'sign-pledge' %}" method='post'>{% csrf_token %}
                <button type="submit" class="btn btn-success">Sign the pledge</button>
            </form>
        </p>
    {% endif %}
    </div>
</div>
{% endblock %}
