{% extends "base.html" %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
</ul>

<h2>Your account</h2>

<p>Your name: {{ user.get_full_name }}</p>

<p><a class="btn" href="/log-out/">Log out</a></p>

<h3>The pledge</h3>
{% include "pledge.html" %}

{% if user.get_profile.signed %}
<p class="signed">
    <b>You have signed the pledge!</b>
</p>

<p class="unsign">
    I changed my mind, I want to unsign the pledge.
    <a class="btn btn-danger" href="/unsign/">Unsign</a>
</p>
{% else %}
<p class="not-signed">
    <i>You have not signed the pledge</i>
    <a class="btn btn-primary" href="/sign/">Sign the pledge</a>
</p>
{% endif %}

<p>Associated social networks:</p>
<ul>
    {% for user in social_auth.associated %}
    <li>{{ user.provider }}
        <a class="btn btn-danger" href="/disconnect/{{ user.provider }}/">disconnect</a>
    </li>
    {% endfor %}
</ul>

<h2>Connect</h2>
<p>Connect your Let’s Get Louder account with your:</p>
<ul>
    {% for provider in social_auth.not_associated %}
    <li>
        <a class="btn" href="/associate/{{ provider }}/">{{ provider }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
