{% extends "base.html" %}

{% block content %}

<h2>Your account</h2>
{% if user.get_profile.signed %}
    <p class="lead">Thank you {{ user.get_full_name }} for signing this pledge. <a class="btn btn-danger" href="/unsign/">X Un-sign</a></p>
{% else %}
    <p class="lead">You have not signed the pledge. <a class="btn btn-primary" href="/sign/">Sign the pledge</a></p>
{% endif %}

<h3>Connected accounts:</h3>
<ul class="unstyled">
    {% for user in social_auth.associated %}
    <li><span class="{{ user.provider }}">{{ user.provider|capfirst }}</span>
        <a class="btn btn-danger" href="/disconnect/{{ user.provider }}/">Disconnect</a>
    </li>
    {% endfor %}
</ul>

<div class="row">
    <div class="span12">
        <h3>Other accounts you can connect to:</h3>
        {% for provider in social_auth.not_associated %}
            <a class="btn" href="/associate/{{ provider }}/">{{ provider|capfirst }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
