{% load url from future %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Let’s Get Louder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon">
        {% if debug %}
          <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/styles.less">
          <script src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
        {% else %}
          {% compress css %}
          <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/styles.less">
          {% endcompress %}
        {% endif %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32571183-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body {% if not user.is_authenticated %}style="padding-top: 20px;"{% endif %}>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
        <div class="container">
            <header class="page-header">
                <h1>Let’s Get Louder <img src="{{ STATIC_URL }}img/horn.png"></h1>
                <p class="lead">Because we've had enough.</p>
            </header>
            <div class="content">
            {% block content %}{% endblock %}
            </div>
            <footer>
                <ul class="unstyled pull-left">
                  <li>Copyright &copy; 2012 - Forever<li>
                  <li>Created with <a href="http://djangoproject.com"><b>Django</b></a></li>
                </ul>
                <ul class="unstyled pull-right">
                    <li><a href="https://twitter.com/_LetsGetLouder" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true" data-dnt="true">Follow @_LetsGetLouder</a></li>
                </ul>
            </footer>
        </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% block extra-js %}{% endblock %}
    </body>
</html>

